@charset "utf-8";
/*Midterm Project
Author: Jordyn Merchant
Filename: merchantstyles.css*/
/*Body Styles*/
h1 {
    font-weight: bold;
    color: black;
    text-shadow: rgb(97, 63, 99) 5px 3px 1px,
    rgba(21, 21, 21, 70%) 8px 8px 20px;
    font-size: 32pt;
    text-align: center;
}
aside {
    height: 200px;
    overflow: scroll;
    border: 12px solid grey;
    font: 14pt;
    color: silver;
    font-weight: normal;
    margin: 8px;
    padding: 12px;
    -webkit-flex: 3 1 361px;
    flex: 3 1 361px;
}
aside > h2 {
    text-align: center;
}
aside > section.images {
    display: flex;
    flex-flow: row wrap;
    width: 40%;
    float: left;
}
aside > section.images > img {
    flex: 1 1 100px;
    width:40%;
    margin: 5px;
}
aside p {
    width: 60%;
    font-size: smaller;
    font-weight: normal;
    float: left;
}
body p::first-letter {
    font-size: 18pt;
    font-weight: bolder;
    font-family: cursive;
}